.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.header{
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: purple;
  width: 100%;
  color: white;
}

.second-header{
  display: flex;
  justify-content: center;
  color: white;
}

#playerDisplay {
  display: flex;
  padding: 20px;
  justify-content: center;
}

#computerDisplay {
  display: flex;
  padding: 20px;
  justify-content: center;
}

#winnerDisplay {
  display: flex;
  justify-content: center;
  padding: 20px
}

.scoreboard{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

body {
  background-color: grey;
  height: 100%;
  width: 100%;
}

#userScore {
  color: yellowgreen;
}
